@model RegUser;
<div >
    <form asp-action="Reg" asp-controller="Home" method="post">
        <div class="form-group row">
            <span asp-validation-for="FirstName"></span>
            <label class="col-sm-2 col-form-label" asp-for="FirstName"></label>
            <div class="col-sm-2">
                <input class="form-control" asp-for="FirstName">
            </div>
        </div>
        <div class="form-group row">
            <span asp-validation-for="LastName"></span>
            <label class="col-sm-2 col-form-label" asp-for="LastName"></label>
            <div class="col-sm-2">
                <input class="form-control" asp-for="LastName">
            </div>
        </div>
        <div class="form-group row">
            <span asp-validation-for="Email"></span>
            <label class="col-sm-2 col-form-label" asp-for="Email"></label>
            <div class="col-sm-3">
                <input class="form-control" asp-for="Email">
            </div>
        </div>
        <div class="form-group row">
            <span asp-validation-for="Password"></span>
            <label class="col-sm-2 col-form-label" asp-for="Password"></label>
            <div class="col-sm-2">
                <input class="form-control" asp-for="Password">
            </div>
        </div>
        <div class="form-group row">
            <span asp-validation-for="ConfirmPW"></span>
            <label class="col-sm-2 col-form-label" asp-for="ConfirmPW"></label>
            <div class="col-sm-2">
                <input class="form-control" asp-for="ConfirmPW">
            </div>
        </div>
        <input class="btn btn-primary" value="Submit" type="submit">
    </form>
</div>